name: CD

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: 'main' # Explicitly check out the main branch

    - name: Create .env file
      if: ${{ secrets.ENV_FILE != '' }}
      run: echo "${{ secrets.ENV_FILE }}" > .env

    - name: Sync and Deploy
      run: |
        echo "${{ secrets.SSH_KEY }}" > key.txt
        chmod 600 key.txt
        mkdir -p ~/.ssh
        ssh-keyscan -H "${{ secrets.SSH_HOST }}" >> ~/.ssh/known_hosts
        rsync -avz --delete -e "ssh -i key.txt -p ${{ secrets.SSH_PORT }}" --exclude='.git' --exclude='.github' ./ "${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.DEPLOY_PATH }}/"
        ssh -i key.txt -p ${{ secrets.SSH_PORT }} "${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}" 'cd ${{ secrets.DEPLOY_PATH }} && ${{ secrets.DEPLOY_COMMANDS }}'
